<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMVCi18nHttpSession:war exploded">
    <output-path>$PROJECT_DIR$/target/SpringMVCi18n</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMVCi18nHttpSession" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-core:4.3.4.RELEASE" />
          <element id="library" level="project" name="Maven: commons-logging:commons-logging:1.2" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:4.3.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:4.3.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:4.3.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-oxm:4.3.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:4.3.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jdbc:4.3.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:4.3.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:4.3.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:4.3.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context-support:4.3.4.RELEASE" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/SpringMVCi18n/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="SpringMVCi18nHttpSession/web/Web" />
    </root>
  </artifact>
</component>